.distance {
border-bottom:solid 1px #ddd;
}
.deepBule {
color:#1c69d4;
}
.interlinkage {
font-size:18px;
}
.statistical {
    border-bottom: 2px solid #ddd;
}
.search {
    position: relative;
    top:-30px;
    left:75%;
}
.r_search {
    position: relative;
    top:-30px;
    left:80%;
}
.distance {
    margin-left:2px;
}
.picture {
     position: relative;
      left: -80px;
}
.td1 {
    width:100px;
}
.td2 {
    width:200px;
}
.staffTable {
    border:1px solid #ddd;
}
