@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="/Scripts/dropzone/css/dropzone.css">
<link rel="stylesheet" href="~/Scripts/datetimepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="~/Content/css/jquery.treeview.css" />
<link rel="stylesheet" href="~/Content/css/screen.css" />
<link rel="stylesheet" href="~/Content/css/organization.css" />
@*<link rel="stylesheet" href="~/Content/css/bootstrap.min.css">*@

<div class="row">

    <div class="col-md-3">
        <div class="panel panel-default">
            <form action="/file-upload">
                <div class="fallback">
                    <input name="file" type="file" multiple />
                </div>
            </form>
        </div>
        <div class="panel panel-default">
            <div class="row"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row" id="tabs">
                        <div class="col-md-4"><button class="btn btn-default" id="department" title="tab1" btnType="department">部门</button></div>
                        <div class="col-md-4"><button class="btn btn-default" id="jobs" title="tab2" btnType="jobs">岗位</button></div>
                        <div class="col-md-4"><button class="btn btn-default" id="personnel" title="tab3" btnType="personnel">人员</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-scrollbar-x-rail" style="display: block; width: 340px; left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div>
        <div class="panel panel-default" style="display: block; top: 0px; height: 789px; right: 2px;">
            <div class="ps-scrollbar-y department-treeview" style="top: 0px; height: 0px;">
                <ul id="departmentTreeview" class="treeview-gray" departmentID="1"></ul>
            </div>
            <div class="ps-scrollbar-y post-department-treeview" style="top: 0px; height: 0px;">
                <ul class="treeview-gray" departmentID="1"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">

            <div id="content">
                <div id="tab1">
                    <div class="row">
                        <div class="col-md-6">
                            <form action="extra-search.html" method="get">
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="text" placeholder="Type to search..." class="form-control input-dark" name="s">
                                    </div>

                                    <button class="btn btn-link" type="submit">
                                        <i class="linecons-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-5 pull-right">
                            <button class="btn btn-default" href="javascript:;" id="add">
                                增加
                            </button>
                            <button class="btn btn-default department-update-btn">
                                修改
                            </button>
                            <button class="btn btn-default department-delete">
                                删除
                            </button>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <!--部门-->
                    <table id="departmentTabel" cellspacing="0" class="table table-small-font table-bordered table-striped">
                        <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>序号</th>
                                <th>部门名称</th>
                                <th>部门描述</th>
                                <th>机构代码</th>
                                <th>是否启用</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div id="tab2">
                    <div class="row">
                        <div class="col-md-6">
                            <form action="extra-search.html" method="get">
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="text" placeholder="Type to search..." class="form-control input-dark" name="s">
                                    </div>

                                    <button class="btn btn-link" type="submit">
                                        <i class="linecons-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-6 pull-right">
                            <button class="btn btn-default post-add-btn">
                                增加
                            </button>
                            <button class="btn btn-default post-update-btn">
                                修改
                            </button>
                            <button class="btn btn-default post-delete-btn">
                                删除
                            </button>
                            <button class="btn btn-default">
                                人岗匹配
                            </button>
                            <button class="btn btn-default">
                                导入
                            </button>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <!--人员-->
                    <table cellspacing="0" class="table table-small-font table-bordered table-striped post-table">
                        <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>序号</th>
                                <th>名称</th>
                                <th>岗位级数</th>
                                <th>启用</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
                <div id="tab3">
                    <div class="row">
                        <div class="col-md-3">
                            <form action="extra-search.html" method="get">
                                <div class="row">
                                    <div class="col-md-9">
                                        <input type="text" placeholder="Type to search..." class="form-control input-dark" name="s">
                                    </div>

                                    <button class="btn btn-link" type="submit">
                                        <i class="linecons-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9 pull-right">
                            <button class="btn btn-default">
                                修改
                            </button>
                            <button class="btn btn-default">
                                删除
                            </button>
                            <button class="btn btn-default">
                                指定下属
                            </button>
                            <button class="btn btn-default">
                                初始化密码
                            </button>
                            <button class="btn btn-default">
                                列入未分配
                            </button>
                            <button class="btn btn-default">
                                人员权限
                            </button>
                            <button class="btn btn-default">
                                导入
                            </button>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <!--岗位-->
                    <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                        <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>序号</th>
                                <th>登录名称</th>
                                <th>用户名称</th>
                                <th>默认部门</th>
                                <th>岗位</th>
                                <th>性别</th>
                                <th>启用</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>
            </div>
        </div>
    </div>
</div>
<div class="theme-popover department-addAndEdit-panel">
    <div class="theme-poptit">
        <a href="javascript:;" title="关闭" class="close">×</a>
    </div>
    <div class="theme-popbod dform">
        <div class="row">
            <div class="row"><h4>部门信息</h4></div>
            <div class="row">
                <input id="parentID" type="hidden" value="" />
                <input id="level" type="hidden" value="" />
                <input id="depID" type="hidden" value="" />
                <div class="col-md-2">部门名称</div>
                <div class="col-md-8"><input id="departmentNameTxt" class="form-control input-dark" type="text" name="log" /></div>
            </div>
            <div class="row">
                <div class="col-md-2">上级单位</div>
                <div class="col-md-8">
                    <input class="form-control input-dark" type="text" name="log" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">访问权限</div>
                <div class="col-md-3">
                    <select class="form-control" id="application_method">
                        <option></option>
                        <option value="全部" name="application_method">全部</option>
                        <option value="上级" name="application_method">上级</option>
                        <option value="上级、平级" name="application_method">上级、平级</option>
                        <option value="上级、下级" name="application_method">上级、下级</option>
                        <option value="平级、下级" name="application_method">平级、下级</option>
                        <option value="平级" name="application_method">平级</option>
                        <option value="下级" name="application_method">下级</option>
                        <option value="全否" name="application_method">全否</option>
                    </select>
                </div>
                <div class="col-md-2">机构代码</div>
                <div class="col-md-3"><input class="form-control input-dark" type="text" name="log" /></div>
            </div>
            <div class="row">
                <div class="col-md-2">启用</div>
                <div class="col-md-3">
                    <select class="form-control" id="isEnableSelect">
                        <option></option>
                        <option value="1" name="application_method">是</option>
                        <option value="0" name="application_method">否</option>
                    </select>
                </div>
                <div class="col-md-2">排列顺序</div>
                <div class="col-md-3"><input class="form-control input-dark" type="text" name="log" /></div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <button class="btn btn-default department-add">
                        增加
                    </button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-default department-update">
                        修改
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="theme-popover post-addAndEdit-panel">
    <div class="theme-poptit">
        <a href="javascript:;" title="关闭" class="close">×</a>
    </div>
    <div class="theme-popbod dform">
        <div class="row">
            <div class="row"><h4>部门信息</h4></div>
            <div class="row">
                <input id="postID" type="hidden"/>
                <input id="postDepID" type="hidden" value="" />
                <div class="col-md-2">部门名称</div>
                <div class="col-md-8"><input id="departmentNameTxt" class="form-control input-dark" type="text" name="log" /></div>
            </div>
            <div class="row">
                <div class="col-md-2">名称</div>
                <div class="col-md-8">
                    <input id="postNameTxt" class="form-control input-dark" type="text" name="log" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">描述</div>
                <div class="col-md-8">
                    <input id="descriptionTxt" class="form-control input-dark" type="text" name="log" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">级次</div>
                <div class="col-md-8">
                    <input id="postGradeTxt" class="form-control input-dark" type="text" name="log" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">启用</div>
                <div class="col-md-3">
                    <select class="form-control" id="postIsEnableSelect">
                        <option></option>
                        <option value="1" name="application_method">是</option>
                        <option value="0" name="application_method">否</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <button class="btn btn-default post-add">
                        增加
                    </button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-default post-update">
                        修改
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
<input id="postJsonHidden" type="hidden" />
<script src="~/Scripts/defeng/common.js"></script>
<script src="~/Scripts/jquery.treeview.js"></script>
<script src="~/Scripts/defeng/organization.js"></script>