
@{
    ViewBag.Title = "Announcement";
}
<link rel="stylesheet" href="~/Content/css/modality.css"> 
<div class="panel">
    <div class="row panel-heading text-right"><a href="#">关闭</a></div>
    <div class="row text-left deepBule">
        <div class="col-md-12">
            <h1>营销公告</h1>
        </div>
    </div>
    <div class="row text-left">
        <div class="col-md-12">
            <h2>5月27日到6月2日主攻海悦湾上客情况核对</h2>
        </div>
    </div>
    <div class="row statistical">
        <div class="col-md-6"><b class="text-gray">发布人：</b><a href="#" class="text-blue">黄汝浩</a>丨<b class="text-gray">发布时间：</b><b>2016-06-03 15:08 </b></div>
        <div class="col-md-6 text-right"><b>访问人数：</b><a href="#" class="text-blue">323/1454</a></div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <b>附件：</b><a href="#" class="text-blue">0527-0602期间主攻项目各分行送客情况.xlsx</a>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-12">
            <h3>
                请各部门经理核对5月27日到6月2日主攻海悦湾上客​情况。
            </h3>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row text-right">
        <div class="col-md-12">
            <b>上一条：</b><a href="#" class="text-blue">明天星期六，可....</a><b>下一条：</b><a href="#" class="text-blue">中萃公园培训通知</a>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row distance">
        <div class="col-md-12">
            <a id="btnShow" class="interlinkage" href="#">阅读人员统计</a>
        </div>
    </div>
    <div class="row conceal">
        <div class="row">&nbsp;</div>
        <div class="row text-red">
            <div class="col-md-12">
                <div class="col-md-2"><b>未访问人员</b><b>(1074)</b></div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="col-md-12">
            <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                <thead>
                    <tr>
                        <th id="idcf0ae581-col-1">部门</th>
                        <th id="idcf0ae581-col-2">人员</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>惠州大亚湾其易房网发展有限公司</td>
                        <td>
                            <ol class="breadcrumb">
                                <li>txf</li>
                                <li>联动公司</li>
                                <li>史清浩(兼职)</li>
                                <li>谈亮(兼职)</li>
                                <li>谭尤喜(兼职)</li>
                                <li>辛卫(兼职)</li>
                                <li>宫金娟(兼职)</li>
                                <li>张斌(兼职)</li>
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <div class="row"><div class="col-md-2 text-success"><b>访问人员</b><b>(1074)</b></div></div>
        </div>
        <div class="col-md-12">&nbsp;</div>
        <div class="col-md-12">
            <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                <thead>
                    <tr>
                        <th id="idcf0ae581-col-1">部门</th>
                        <th id="idcf0ae581-col-2">人员</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>惠州大亚湾其易房网发展有限公司</td>
                        <td>
                            <ol class="breadcrumb">
                                <li>王安金(兼职)</li>
                                <li>辛益豪(兼职)</li>
                                <li>张钦荣(兼职)</li>
                                <li>舒春林(兼职)</li>
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/Scripts/defeng/announcement.js"></script>