
@{
    ViewBag.Title = "Departure";
}
<link rel="stylesheet" href="~/Scripts/datetimepicker/bootstrap-datetimepicker.min.css"> 
<div class="panel">
    <div class="row text-right"><a>送办</a>丨<a>查看流程</a>丨<a>暂存</a>丨<a>打印</a>丨<a>返回</a></div>
    <div class="row text-center"><h3>离职申请</h3></div>
    <div class="row">
        <div class="col-md-1 text-center translation">姓名</div>
        <div class="col-md-5"><input type="text" class="form-control input-dark" name="number" id="number" autocomplete="off" /></div>
        <div class="col-md-1 text-center translation">部门</div>
        <div class="col-md-5"><input type="text" class="form-control input-dark" name="number" id="number" autocomplete="off" /></div>
    </div>
    <div class="row">
        <div class="col-md-1 text-center translation">离职原因</div>
        <div class="col-md-5">
            <select class="form-control" id="application_method">
                <option></option>
                <option value="辞职" name="application_method">辞职</option>
                <option value="解聘" name="application_method">解聘</option>
                <option value="协商终止合同" name="application_method">协商终止合同</option>
                <option value="终止合同" name="application_method">终止合同</option>
                <option value="辞退" name="application_method">辞退</option>
                <option value="自离" name="application_method">自离</option>
            </select>
        </div>
        <div class="col-md-1 text-center translation">离职时间</div>
        <div class="col-md-5">
            <div class="date form_datetime">
                <input id="submitHouseDate" class="form-control" name="submitHouseDate" data-validate="required" readonly />
                <span class="add-on"><i class="icon-remove"></i></span>
                <span class="add-on"><i class="icon-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 text-center translation">离职说明</div>
        <div class="col-md-11"><input type="text" class="form-control input-dark" name="number" id="number" autocomplete="off" /></div>
    </div>
    <div class="row">
        <div class="col-md-1">分行意见及客户资源交接情况（已出单的签合同，办按揭情况）</div>
        <div class="col-md-11">
        <div class="row">
            <div class="col-md-12"><input type="text" class="form-control input-dark" name="number" id="number" autocomplete="off" /></div>
        </div>
            <div class="row">
                <div class="col-md-1 text-center translation">移交人</div>
                <div class="col-md-5"><input type="text" class="form-control input-dark" name="number" id="number" autocomplete="off" /></div>
                <div class="col-md-1 text-center translation">接手人</div>
                <div class="col-md-5"><input type="text" class="form-control input-dark" name="number" id="number" autocomplete="off" /></div>
            </div>
            <div class="row">
                <div class="col-md-1">移交日期</div>
                <div class="col-md-5">
                    <div class="date form_datetime">
                        <input id="submitHouseDate" class="form-control" name="submitHouseDate" data-validate="required" readonly />
                        <span class="add-on"><i class="icon-remove"></i></span>
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>
                <div class="col-md-1">接收日期</div>
                <div class="col-md-5">
                    <div class="date form_datetime">
                        <input id="submitHouseDate" class="form-control" name="submitHouseDate" data-validate="required" readonly />
                        <span class="add-on"><i class="icon-remove"></i></span>
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 text-center translation">附件</div>
        <div class="col-md-11"><input type="text" class="form-control input-dark" name="number" id="number" autocomplete="off" /></div>
    </div>
    <div class="row">
        <div class="col-md-1 text-center translation">店长/外勤经理</div>
        <div class="col-md-11"><input type="text" class="form-control input-dark" name="number" id="number" autocomplete="off" /></div>
    </div>
    <div class="row">
        <div class="col-md-1 text-center translation">现场经理意见</div>
        <div class="col-md-11"><input type="text" class="form-control input-dark" name="number" id="number" autocomplete="off" /></div>
    </div>
    <div class="row">
        <div class="col-md-1 text-center translation">网络部意见</div>
        <div class="col-md-11"><input type="text" class="form-control input-dark" name="number" id="number" autocomplete="off" /></div>
    </div>
</div>
<script src="/Scripts/daterangepicker/daterangepicker.js"></script>
<script src="/Scripts/datepicker/bootstrap-datepicker.js"></script>
<script src="/Scripts/timepicker/bootstrap-timepicker.min.js"></script>
<script src="~/Scripts/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/Scripts/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('.form_datetime').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                // weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0
            });
        });

</script>