
@{
    ViewBag.Title = "OtherAnnouncements";
}
<link rel="stylesheet" href="~/Content/css/modality.css"> 
<div class="panel">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-2">
            <div class="col-md-12">
                <input type="text" id="title" name="title" class="form-control input-dark">
            </div>
            <button type="submit" class="btn btn-link search">
                <i class="linecons-search"></i>
            </button>
            <div class="row">
                <textarea class="form-control" cols="10"  rows="40" id="field-5" placeholder="留的位置"></textarea>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3">
                <div class="col-md-12">
                    <input type="text" id="title" name="title" class="form-control input-dark">
                </div>
                <button type="submit" class="btn btn-link r_search">
                    <i class="linecons-search"></i>
                </button>
            </div>
                <div class="col-md-1 translation"><a href="#">[高级]</a></div>
                <div class="col-md-7 translation text-right"><a href="#">查看</a></div>
                <div class="col-md-0"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                    <thead>
                        <tr>
                            <th id="idcf0ae581-col-1">
                                     <div class="cbr-replaced"><div class="cbr-input"><input type="checkbox" class="cbr cbr-done"></div><div class="cbr-state"><span></span></div></div>
                               
                            </th>
                            <th id="idcf0ae581-col-2">公告标题</th>
                            <th id="idcf0ae581-col-1">发表人</th>
                            <th id="idcf0ae581-col-2">发表时间</th>
                            <th id="idcf0ae581-col-1">提醒截止</th>
                            <th id="idcf0ae581-col-2">阅读状态</th>
                            <th id="idcf0ae581-col-2">公告类别</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><div class="cbr-replaced"><div class="cbr-input"><input type="checkbox" class="cbr cbr-done"></div><div class="cbr-state"><span></span></div></div></td>
                            <td>紧急通知</td>
                            <td>袁晓红</td>
                            <td>2016-05-12 12:25</td>
                            <td>2016-07-12 </td>
                            <td>未读 </td>
                            <td>行政</td>
                        </tr>
                    </tbody>
                </table>
               </div>
            </div>
        </div>
    </div>

    

</div>
  