
@{
    ViewBag.Title = "Transfer";
}
<link rel="stylesheet" href="~/Scripts/datetimepicker/bootstrap-datetimepicker.min.css"> 
<div class="panel">
    <div class="row text-right"><a>送办</a>丨<a>查看流程</a>丨<a>暂存</a>丨<a>打印</a>丨<a>返回</a></div>
    <div class="row text-center"><h3>调岗申请</h3></div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-0 text-center translation">申请人员</div>
        <div class="col-md-3"><input type="text" class="form-control input-dark" name="number" id="number" autocomplete="off" /></div>
        <div class="col-md-0 text-center translation">性别</div>
        <div class="col-md-2">
            <select class="form-control" id="application_method">
                <option></option>
                <option value="男" name="application_method">男</option>
                <option value="女" name="application_method">女</option>
            </select>
        </div>
        <div class="col-md-0 text-center translation">所属部门</div>
        <div class="col-md-3"><input type="text" class="form-control input-dark" name="number" id="number" autocomplete="off" /></div>
        <div class="col-md-0 text-center translation">申请时间</div>
        <div class="col-md-2">
            <div class="date form_datetime">
                <input id="submitHouseDate" class="form-control" name="submitHouseDate" data-validate="required" readonly />
                <span class="add-on"><i class="icon-remove"></i></span>
                <span class="add-on"><i class="icon-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-0 text-center translation">附件</div>
        <div class="col-md-12"><input type="text" class="form-control input-dark" name="number" id="number" autocomplete="off" /></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <a>新建</a>丨<a>删除</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <table cellspacing="0" class="table table-small-font table-bordered table-striped">
            <thead>
                <tr>
                    <th data-priority="1" id="idcf0ae581-col-1"><div class="cbr-replaced"><div class="cbr-input"><input type="checkbox" class="cbr cbr-done"></div><div class="cbr-state"><span></span></div></div></th>
                    <th data-priority="3" id="idcf0ae581-col-2">员工姓名</th>
                    <th data-priority="1" id="idcf0ae581-col-3">原部门</th>
                    <th data-priority="3" id="idcf0ae581-col-4">调入部门</th>
                    <th data-priority="3" id="idcf0ae581-col-5">调入岗位</th>
                    <th data-priority="6" id="idcf0ae581-col-6">所属领导</th>
                    <th data-priority="3" id="idcf0ae581-col-4">薪金</th>
                    <th data-priority="3" id="idcf0ae581-col-5">调入职位</th>
                    <th data-priority="6" id="idcf0ae581-col-6">调入公司</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
            </div>
    </div>
    <div class="row">
        <div class="col-md-0 text-left translation">调动原因</div>
        <div class="col-md-12"><input type="text" class="form-control input-dark" name="number" id="number" autocomplete="off" /></div>
    </div>
    <div class="row">
        <div class="col-md-1 text-left translation">调出部门意见</div>
        <div class="col-md-12"><input type="text" class="form-control input-dark" name="number" id="number" autocomplete="off" /></div>
    </div>
    <div class="row">
        <div class="col-md-1 text-left translation">网络部意见</div>
        <div class="col-md-12"><input type="text" class="form-control input-dark" name="number" id="number" autocomplete="off" /></div>
    </div>
    <div class="row">
        <div class="col-md-1 text-left translation">人事部文员</div>
        <div class="col-md-12"><input type="text" class="form-control input-dark" name="number" id="number" autocomplete="off" /></div>
    </div>
    <div class="row">
        <div class="col-md-1 text-left translation">人事经理</div>
        <div class="col-md-12"><input type="text" class="form-control input-dark" name="number" id="number" autocomplete="off" /></div>
    </div>
    <div class="row">
        <div class="col-md-1 text-left translation">副总经理</div>
        <div class="col-md-12"><input type="text" class="form-control input-dark" name="number" id="number" autocomplete="off" /></div>
    </div>
</div>
<script src="/Scripts/daterangepicker/daterangepicker.js"></script>
<script src="/Scripts/datepicker/bootstrap-datepicker.js"></script>
<script src="/Scripts/timepicker/bootstrap-timepicker.min.js"></script>
<script src="~/Scripts/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/Scripts/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('.form_datetime').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                // weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0
            });
        });

</script>