
@{
    ViewBag.Title = "Office";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>惠州大亚湾其易房网发展有限公司</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<div class="row">
    <div class="col-md-6">

        <!-- Default panel -->
        <div class="panel panel-default fillet">
            <div class="panel-heading">
                公告
                <div class="panel-options">

                    <a href="/Home/Office">
                        <span class="expand-icon">+</span>
                    </a>
                    <a href="#">
                        <i class="fa-rotate-right"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">

                    <tbody>
                        <tr>
                            <td>Arlind</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Art</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Filan</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row pull-right"><a>更多</a></div>
            </div>
        </div>

    </div>

    <div class="col-md-6">


        <div class="panel panel-default fillet">
            <div class="panel-heading">
                我的日程
                <div class="panel-options">

                    <a href="/Home/Login">
                        <span class="expand-icon">+</span>
                    </a>
                    <a href="#">
                        <i class="fa-rotate-right"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">

                <table class="table table-hover">

                    <tbody>
                        <tr>
                            <td>Arlind</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Art</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Filan</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row pull-right"><a>更多</a></div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-6">

        <!-- Default panel -->
        <div class="panel panel-default fillet">
            <div class="panel-heading">
                我的事项
                <div class="panel-options">

                    <a href="/Home/Login">
                        <span class="expand-icon">+</span>
                    </a>
                    <a href="#">
                        <i class="fa-rotate-right"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">

                    <tbody>
                        <tr>
                            <td>Arlind</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Art</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Filan</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row pull-right"><a>更多</a></div>
            </div>
        </div>

    </div>

    <div class="col-md-6">


        <div class="panel panel-default fillet">
            <div class="panel-heading">
                常用流程
                <div class="panel-options">

                    <a href="/Home/Login">
                        <span class="expand-icon">+</span>
                    </a>
                    <a href="#">
                        <i class="fa-rotate-right"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">

                <table class="table table-hover">

                    <tbody>
                        <tr>
                            <td>Arlind</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Art</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Filan</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row pull-right"><a>更多</a></div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-6">

        <!-- Default panel -->
        <div class="panel panel-default fillet">
            <div class="panel-heading">
                新闻
                <div class="panel-options">

                    <a href="/Home/Login">
                        <span class="expand-icon">+</span>
                    </a>
                    <a href="#">
                        <i class="fa-rotate-right"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">

                    <tbody>
                        <tr>
                            <td>Arlind</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Art</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Filan</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row pull-right"><a>更多</a></div>
            </div>
        </div>

    </div>

    <div class="col-md-6">


        <div class="panel panel-default fillet">
            <div class="panel-heading">
                邮件
                <div class="panel-options">

                    <a href="/Home/Login">
                        <span class="expand-icon">+</span>
                    </a>
                    <a href="#">
                        <i class="fa-rotate-right"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">

                <table class="table table-hover">

                    <tbody>
                        <tr>
                            <td>Arlind</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Art</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Filan</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row pull-right"><a>更多</a></div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-6">

        <!-- Default panel -->
        <div class="panel panel-default fillet">
            <div class="panel-heading">
                计划
                <div class="panel-options">

                    <a href="/Home/Login">
                        <span class="expand-icon">+</span>
                    </a>
                    <a href="#">
                        <i class="fa-rotate-right"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">

                    <tbody>
                        <tr>
                            <td>Arlind</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>

                        <tr>
                            <td>Art</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>

                        <tr>
                            <td>Filan</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row pull-right"><a>更多</a></div>
            </div>
        </div>

    </div>

    <div class="col-md-6">


        <div class="panel panel-default fillet">
            <div class="panel-heading">
                工作圈子
                <div class="panel-options">

                    <a href="/Home/Login">
                        <span class="expand-icon">+</span>
                    </a>
                    <a href="#">
                        <i class="fa-rotate-right"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">

                <table class="table table-hover">

                    <tbody>
                        <tr>
                            <td>Arlind</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>

                        <tr>
                            <td>Art</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>

                        <tr>
                            <td>Filan</td>
                            <td>1</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row pull-right"><a>更多</a></div>
            </div>
        </div>

    </div>
</div>




