
@{
    ViewBag.Title = "Institutions";
}
<link rel="stylesheet" href="/Scripts/dropzone/css/dropzone.css">
<link rel="stylesheet" href="~/Scripts/datetimepicker/bootstrap-datetimepicker.min.css"> 
@*<link rel="stylesheet" href="~/Content/css/bootstrap.min.css">*@

<div class="row">
    
    <div class="col-md-3">
        <div class="panel panel-default">
            <form action="/file-upload" >
                <div class="fallback">
                    <input name="file" type="file" multiple />
                </div>
            </form>
            </div>
            <div class="panel panel-default">
                <div class="row"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" id="tabs">
                        <div class="col-md-4"><button class="btn btn-default" id="department" title="tab1" btnType="department">部门</button></div>
                        <div class="col-md-4"><button class="btn btn-default" id="jobs" title="tab2" btnType="jobs">岗位</button></div>
                        <div class="col-md-4"><button class="btn btn-default" id="personnel" title="tab3"  btnType="personnel">人员</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ps-scrollbar-x-rail" style="display: block; width: 340px; left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="display: block; top: 0px; height: 789px; right: 2px;"><div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div></div>
        </div>
    <div class="col-md-9">
        <div class="panel panel-default">
  
                <div id="content">
                    <div id="tab1">
                    <div class="row">
                        <div class="col-md-6">
                            <form action="extra-search.html" method="get">
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="text" placeholder="Type to search..." class="form-control input-dark" name="s">
                                    </div>

                                    <button class="btn btn-link" type="submit">
                                        <i class="linecons-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-5 pull-right">
                            <button class="btn btn-default" href="javascript:;" id="add">
                                增加
                            </button>
                            <button class="btn btn-default">
                                修改
                            </button>
                            <button class="btn btn-default">
                                删除
                            </button>
                            <button class="btn btn-default">
                                导入
                            </button>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <!--部门-->
                    <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>序号</th>
                                    <th>部门名称</th>
                                    <th>部门描述</th>
                                    <th>机构代码</th>
                                    <th>是否启用</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="1"><input type="checkbox"></td>
                                    <td colspan="1">1</td>
                                    <td colspan="1">销售部</td>
                                    <td colspan="1">销售部</td>
                                    <td colspan="1">001001</td>
                                    <td colspan="1">是</td>
                                </tr>
                                <tr>
                                    <td colspan="1">378.94</td>
                                    <td colspan="1">12:22PM</td>
                                    <td colspan="1">5.74 (1.54%)</td>
                                    <td colspan="1">373.20</td>
                                    <td colspan="1">381.02</td>
                                    <td colspan="1">378.92 x 300</td>
                                </tr>
                                <tr>
                                    <td colspan="1">191.55</td>
                                    <td colspan="1">12:23PM</td>
                                    <td colspan="1">3.16 (1.68%)</td>
                                    <td colspan="1">188.39</td>
                                    <td colspan="1">194.99</td>
                                    <td colspan="1">191.52 x 300</td>
                                </tr>
                                <tr>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-1">31.15</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-2">12:44PM</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-3">1.41 (4.72%)</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-4">29.74</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">30.67</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">31.14 x 6500</td>
                                </tr>
                                <tr>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">25.50</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:27PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">0.66 (2.67%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">24.84</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">25.37</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">25.50 x 71100</td>
                                </tr>
                                <tr>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">18.65</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:45PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">0.97 (5.49%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">17.68</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">18.23</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">18.65 x 10300</td>
                                </tr>
                                <tr>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">15.81</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:25PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">0.11 (0.67%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">15.70</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">15.94</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">15.79 x 6100</td>
                                </tr>
                                <!-- Repeat -->
                                <tr>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">597.74</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:12PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">14.81 (2.54%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">582.93</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">597.95</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">597.73 x 100</td>
                                </tr>
                                <tr>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">378.94</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:22PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">5.74 (1.54%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">373.20</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">381.02</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">378.92 x 300</td>
                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">191.55</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:23PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">3.16 (1.68%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">188.39</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">194.99</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">191.52 x 300</td>
                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">31.15</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:44PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">1.41 (4.72%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">29.74</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">30.67</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">31.14 x 6500</td>
                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">25.50</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:27PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">0.66 (2.67%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">24.84</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">25.37</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">25.50 x 71100</td>
                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">18.65</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:45PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">0.97 (5.49%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">17.68</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">18.23</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">18.65 x 10300</td>
                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">15.81</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:25PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">0.11 (0.67%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">15.70</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">15.94</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">15.79 x 6100</td>
                                </tr>
                                <!-- Repeat -->
                                <tr>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">597.74</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:12PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">14.81 (2.54%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">582.93</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">597.95</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">597.73 x 100</td>
                                </tr>
                                <tr>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">378.94</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:22PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">5.74 (1.54%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">373.20</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">381.02</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">378.92 x 300</td>
                                </tr>
                                <tr>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">191.55</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:23PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">3.16 (1.68%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">188.39</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">194.99</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">191.52 x 300</td>
                                </tr>
                                <tr>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">31.15</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:44PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">1.41 (4.72%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">29.74</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">30.67</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">31.14 x 6500</td>
                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">25.50</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:27PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">0.66 (2.67%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">24.84</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">25.37</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">25.50 x 71100</td>
                                </tr>
                                <tr>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-1">18.65</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-2">12:45PM</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-3">0.97 (5.49%)</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-4">17.68</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-5">18.23</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-6">18.65 x 10300</td>
                                </tr>
                                <tr>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">15.81</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:25PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">0.11 (0.67%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">15.70</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">15.94</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">15.79 x 6100</td>
                                </tr>
                                <!-- Repeat -->
                                <tr>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">597.74</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:12PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">14.81 (2.54%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">582.93</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">597.95</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">597.73 x 100</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="tab2">
                    <div class="row">
                        <div class="col-md-6">
                            <form action="extra-search.html" method="get">
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="text" placeholder="Type to search..." class="form-control input-dark" name="s">
                                    </div>

                                    <button class="btn btn-link" type="submit">
                                        <i class="linecons-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-6 pull-right">
                            <button class="btn btn-default">
                                增加
                            </button>
                            <button class="btn btn-default">
                                修改
                            </button>
                            <button class="btn btn-default">
                                删除
                            </button>
                            <button class="btn btn-default">
                                人岗匹配
                            </button>
                            <button class="btn btn-default">
                                导入
                            </button>
                        </div>
                    </div>
                        <div class="row">&nbsp;</div>
                    <!--人员-->
                    <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>序号</th>
                                    <th>登录名称</th>
                                    <th>用户名称</th>
                                    <th>默认部门</th>
                                    <th>岗位</th>
                                    <th>性别</th>
                                    <th>启用</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td colspan="1"><input type="checkbox"></td>
                                    <td colspan="1">1</td>
                                    <td colspan="1">李梓深</td>
                                    <td colspan="1">李梓深</td>
                                    <td colspan="1">开发部</td>
                                    <td colspan="1">程序员</td>
                                    <td colspan="1">男</td>
                                    <td colspan="1">是</td>
                                </tr>
                                <tr>

                                    <td colspan="1">378.94</td>
                                    <td colspan="1">12:22PM</td>
                                    <td colspan="1">5.74 (1.54%)</td>
                                    <td colspan="1">373.20</td>
                                    <td colspan="1">381.02</td>
                                    <td colspan="1">378.92 x 300</td>
                                    <td colspan="1">381.02</td>
                                    <td colspan="1">378.92 x 300</td>
                                </tr>
                                <tr>

                                    <td colspan="1">191.55</td>
                                    <td colspan="1">12:23PM</td>
                                    <td colspan="1">3.16 (1.68%)</td>
                                    <td colspan="1">188.39</td>
                                    <td colspan="1">194.99</td>
                                    <td colspan="1">191.52 x 300</td>
                                    <td colspan="1">194.99</td>
                                    <td colspan="1">191.52 x 300</td>
                                </tr>
                                <tr>

                                    <td colspan="1" data-columns="id36d759c0c1f7-col-1">31.15</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-2">12:44PM</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-3">1.41 (4.72%)</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-4">29.74</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">30.67</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">31.14 x 6500</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">30.67</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">31.14 x 6500</td>
                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">25.50</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:27PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">0.66 (2.67%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">24.84</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">25.37</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">25.50 x 71100</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">25.37</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">25.50 x 71100</td>
                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">18.65</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:45PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">0.97 (5.49%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">17.68</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">18.23</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">18.65 x 10300</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">18.23</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">18.65 x 10300</td>
                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">15.81</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:25PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">0.11 (0.67%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">15.70</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">15.94</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">15.79 x 6100</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">15.94</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">15.79 x 6100</td>
                                </tr>
                                <!-- Repeat -->
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">597.74</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:12PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">14.81 (2.54%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">582.93</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">597.95</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">597.73 x 100</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">597.95</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">597.73 x 100</td>
                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">378.94</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:22PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">5.74 (1.54%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">373.20</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">381.02</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">378.92 x 300</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">381.02</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">378.92 x 300</td>
                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">191.55</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:23PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">3.16 (1.68%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">188.39</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">194.99</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">191.52 x 300</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">194.99</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">191.52 x 300</td>
                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">31.15</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:44PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">1.41 (4.72%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">29.74</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">30.67</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">31.14 x 6500</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">30.67</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">31.14 x 6500</td>
                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">25.50</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:27PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">0.66 (2.67%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">24.84</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">25.37</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">25.50 x 71100</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">25.37</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">25.50 x 71100</td>
                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">18.65</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:45PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">0.97 (5.49%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">17.68</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">18.23</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">18.65 x 10300</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">18.23</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">18.65 x 10300</td>
                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">15.81</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:25PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">0.11 (0.67%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">15.70</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">15.94</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">15.79 x 6100</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">15.94</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">15.79 x 6100</td>
                                </tr>
                                <!-- Repeat -->
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">597.74</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:12PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">14.81 (2.54%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">582.93</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">597.95</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">597.73 x 100</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">597.95</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">597.73 x 100</td>
                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">378.94</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:22PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">5.74 (1.54%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">373.20</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">381.02</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">378.92 x 300</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">381.02</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">378.92 x 300</td>
                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">191.55</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:23PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">3.16 (1.68%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">188.39</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">194.99</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">191.52 x 300</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">194.99</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">191.52 x 300</td>
                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">31.15</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:44PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">1.41 (4.72%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">29.74</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">30.67</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">31.14 x 6500</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">30.67</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">31.14 x 6500</td>
                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">25.50</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:27PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">0.66 (2.67%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">24.84</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">25.37</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">25.50 x 71100</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">25.37</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">25.50 x 71100</td>
                                </tr>
                                <tr>

                                    <td colspan="1" data-columns="id36d759c0c1f7-col-1">18.65</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-2">12:45PM</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-3">0.97 (5.49%)</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-4">17.68</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-5">18.23</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-6">18.65 x 10300</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-5">18.23</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-6">18.65 x 10300</td>
                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">15.81</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:25PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">0.11 (0.67%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">15.70</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">15.94</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">15.79 x 6100</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-5">18.23</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-6">18.65 x 10300</td>
                                </tr>
                                <!-- Repeat -->
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">597.74</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-2">12:12PM</td>
                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-3">14.81 (2.54%)</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-4">582.93</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">597.95</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">597.73 x 100</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-5">18.23</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-6">18.65 x 10300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="tab3">
                    <div class="row">
                        <div class="col-md-3">
                            <form action="extra-search.html" method="get">
                                <div class="row">
                                    <div class="col-md-9">
                                        <input type="text" placeholder="Type to search..." class="form-control input-dark" name="s">
                                    </div>

                                    <button class="btn btn-link" type="submit">
                                        <i class="linecons-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9 pull-right">
                            <button class="btn btn-default">
                                修改
                            </button>
                            <button class="btn btn-default">
                                删除
                            </button>
                            <button class="btn btn-default">
                                指定下属
                            </button>
                            <button class="btn btn-default">
                                初始化密码
                            </button>
                            <button class="btn btn-default">
                                列入未分配
                            </button>
                            <button class="btn btn-default">
                                人员权限
                            </button>
                            <button class="btn btn-default">
                                导入
                            </button>
                        </div>
                    </div>
                        <div class="row">&nbsp;</div>
                    <!--岗位-->
                    <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th colspan="2">序号</th>
                                    <th colspan="3">名称</th>
                                    <th colspan="2">岗位级数</th>
                                    <th>访问级数</th>
                                    <th>启用</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td colspan="1"><input type="checkbox"></td>
                                    <td colspan="2">1</td>
                                    <td colspan="3">财务总监</td>
                                    <td colspan="2">1</td>
                                    <td colspan="1">1</td>
                                    <td colspan="1">是</td>

                                </tr>
                                <tr>

                                    <td colspan="1">378.94</td>
                                    <td colspan="2">12:22PM</td>
                                    <td colspan="3">5.74 (1.54%)</td>
                                    <td colspan="2">373.20</td>
                                    <td colspan="1">381.02</td>
                                    <td colspan="1">378.92 x 300</td>

                                </tr>
                                <tr>

                                    <td colspan="1">191.55</td>
                                    <td colspan="2">12:23PM</td>
                                    <td colspan="3">3.16 (1.68%)</td>
                                    <td colspan="2">188.39</td>
                                    <td colspan="1">194.99</td>
                                    <td colspan="1">191.52 x 300</td>

                                </tr>
                                <tr>

                                    <td colspan="1" data-columns="id36d759c0c1f7-col-1">31.15</td>
                                    <td colspan="2" data-columns="id36d759c0c1f7-col-2">12:44PM</td>
                                    <td colspan="3" data-columns="id36d759c0c1f7-col-3">1.41 (4.72%)</td>
                                    <td colspan="2" data-columns="id36d759c0c1f7-col-4">29.74</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">30.67</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">31.14 x 6500</td>

                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">25.50</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-2">12:27PM</td>
                                    <td data-priority="1" colspan="3" data-columns="id36d759c0c1f7-col-3">0.66 (2.67%)</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-4">24.84</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">25.37</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">25.50 x 71100</td>

                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">18.65</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-2">12:45PM</td>
                                    <td data-priority="1" colspan="3" data-columns="id36d759c0c1f7-col-3">0.97 (5.49%)</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-4">17.68</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">18.23</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">18.65 x 10300</td>

                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">15.81</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-2">12:25PM</td>
                                    <td data-priority="1" colspan="3" data-columns="id36d759c0c1f7-col-3">0.11 (0.67%)</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-4">15.70</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">15.94</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">15.79 x 6100</td>

                                </tr>
                                <!-- Repeat -->
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">597.74</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-2">12:12PM</td>
                                    <td data-priority="1" colspan="3" data-columns="id36d759c0c1f7-col-3">14.81 (2.54%)</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-4">582.93</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">597.95</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">597.73 x 100</td>

                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">378.94</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-2">12:22PM</td>
                                    <td data-priority="1" colspan="3" data-columns="id36d759c0c1f7-col-3">5.74 (1.54%)</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-4">373.20</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">381.02</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">378.92 x 300</td>

                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">191.55</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-2">12:23PM</td>
                                    <td data-priority="1" colspan="3" data-columns="id36d759c0c1f7-col-3">3.16 (1.68%)</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-4">188.39</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">194.99</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">191.52 x 300</td>

                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">31.15</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-2">12:44PM</td>
                                    <td data-priority="1" colspan="3" data-columns="id36d759c0c1f7-col-3">1.41 (4.72%)</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-4">29.74</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">30.67</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">31.14 x 6500</td>

                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">25.50</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-2">12:27PM</td>
                                    <td data-priority="1" colspan="3" data-columns="id36d759c0c1f7-col-3">0.66 (2.67%)</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-4">24.84</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">25.37</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">25.50 x 71100</td>

                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">18.65</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-2">12:45PM</td>
                                    <td data-priority="1" colspan="3" data-columns="id36d759c0c1f7-col-3">0.97 (5.49%)</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-4">17.68</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">18.23</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">18.65 x 10300</td>

                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">15.81</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-2">12:25PM</td>
                                    <td data-priority="1" colspan="3" data-columns="id36d759c0c1f7-col-3">0.11 (0.67%)</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-4">15.70</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">15.94</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">15.79 x 6100</td>

                                </tr>
                                <!-- Repeat -->
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">597.74</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-2">12:12PM</td>
                                    <td data-priority="1" colspan="3" data-columns="id36d759c0c1f7-col-3">14.81 (2.54%)</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-4">582.93</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">597.95</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">597.73 x 100</td>

                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">378.94</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-2">12:22PM</td>
                                    <td data-priority="1" colspan="3" data-columns="id36d759c0c1f7-col-3">5.74 (1.54%)</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-4">373.20</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">381.02</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">378.92 x 300</td>

                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">191.55</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-2">12:23PM</td>
                                    <td data-priority="1" colspan="3" data-columns="id36d759c0c1f7-col-3">3.16 (1.68%)</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-4">188.39</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">194.99</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">191.52 x 300</td>

                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">31.15</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-2">12:44PM</td>
                                    <td data-priority="1" colspan="3" data-columns="id36d759c0c1f7-col-3">1.41 (4.72%)</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-4">29.74</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">30.67</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">31.14 x 6500</td>

                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">25.50</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-2">12:27PM</td>
                                    <td data-priority="1" colspan="3" data-columns="id36d759c0c1f7-col-3">0.66 (2.67%)</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-4">24.84</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">25.37</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">25.50 x 71100</td>

                                </tr>
                                <tr>

                                    <td colspan="1" data-columns="id36d759c0c1f7-col-1">18.65</td>
                                    <td colspan="2" data-columns="id36d759c0c1f7-col-2">12:45PM</td>
                                    <td colspan="3" data-columns="id36d759c0c1f7-col-3">0.97 (5.49%)</td>
                                    <td colspan="2" data-columns="id36d759c0c1f7-col-4">17.68</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-5">18.23</td>
                                    <td colspan="1" data-columns="id36d759c0c1f7-col-6">18.65 x 10300</td>

                                </tr>
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">15.81</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-2">12:25PM</td>
                                    <td data-priority="1" colspan="3" data-columns="id36d759c0c1f7-col-3">0.11 (0.67%)</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-4">15.70</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">15.94</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">15.79 x 6100</td>

                                </tr>
                                <!-- Repeat -->
                                <tr>

                                    <td data-priority="1" colspan="1" data-columns="id36d759c0c1f7-col-1">597.74</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-2">12:12PM</td>
                                    <td data-priority="1" colspan="3" data-columns="id36d759c0c1f7-col-3">14.81 (2.54%)</td>
                                    <td data-priority="3" colspan="2" data-columns="id36d759c0c1f7-col-4">582.93</td>
                                    <td data-priority="3" colspan="1" data-columns="id36d759c0c1f7-col-5">597.95</td>
                                    <td data-priority="6" colspan="1" data-columns="id36d759c0c1f7-col-6">597.73 x 100</td>

                                </tr>


                            </tbody>
                        </table>
                    </div>
                    </div>
                    <div class="row">
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>
                    </div>
              </div>
    </div>
</div>
<div class="theme-popover">
    <div class="theme-poptit">
        <a href="javascript:;" title="关闭" class="close">×</a>
    </div>
    <div class="theme-popbod dform">
        <form class="theme-signin" name="loginform" method="post">
            <div class="row">
                <div class="row"><h4>部门信息</h4></div>
                <div class="row">
                    <div class="col-md-2">部门名称</div>
                    <div class="col-md-8"><input class="form-control input-dark" type="text" name="log" /></div>
                </div>
                <div class="row">
                    <div class="col-md-2">上级单位</div>
                    <div class="col-md-8"><input class="form-control input-dark" type="text" name="log" /></div>
                </div>
                <div class="row">
                    <div class="col-md-2">访问权限</div>
                    <div class="col-md-3">
                    <select class="form-control" id="application_method">
                        <option></option>
                        <option value="全部" name="application_method">全部</option>
                        <option value="上级" name="application_method">上级</option>
                        <option value="上级、平级" name="application_method">上级、平级</option>
                        <option value="上级、下级" name="application_method">上级、下级</option>
                        <option value="平级、下级" name="application_method">平级、下级</option>
                        <option value="平级" name="application_method">平级</option>
                        <option value="下级" name="application_method">下级</option>
                        <option value="全否" name="application_method">全否</option>
                    </select>
                    </div>
                    <div class="col-md-2">机构代码</div>
                    <div class="col-md-3"><input class="form-control input-dark" type="text" name="log" /></div>
                </div>
                <div class="row">
                    <div class="col-md-2">启用</div>
                    <div class="col-md-3">
                        <select class="form-control" id="application_method">
                            <option></option>
                            <option value="是" name="application_method">是</option>
                            <option value="否" name="application_method">否</option>
                        </select>
                    </div>
                    <div class="col-md-2">排列顺序</div>
                    <div class="col-md-3"><input class="form-control input-dark" type="text" name="log" /></div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <button class="btn btn-default">
                            增加
                        </button>
                     </div>
                </div>
                </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //$("#content div").hide();
        $("#tab2").hide();
        $("#tab3").hide();
        $("#tabs button:first").attr("id", "current"); 
        $("#content div:first").find("div").show();

        $('#tabs button').click(function (e) {
            //e.preventDefault();
            //$("#content div").hide();
            //$("#tabs button").attr("id", "");
            //$(this).parent().attr("id", "current");
            //$('#' + $(this).attr('title')).fadeIn();
            var btnType = $(this).attr("btnType");
            switch (btnType)
            {
                    case "department":
                    $("#tab1").show();
                    $("#tab2").hide();
                    $("#tab3").hide();
                    break;
                    case "jobs":
                    $("#tab2").show();
                    $("#tab1").hide();
                    $("#tab3").hide();
                    break;
                    case "personnel":
                    $("#tab3").show();
                    $("#tab1").hide();
                    $("#tab2").hide();
                    break;
            }
        });
    })
 </script>
<script type="text/javascript">
$(document).ready(function($){
	$('#add').click(function(){
		$('.theme-popover-mask').show();
		$('.theme-popover-mask').height($(document).height());
		$('.theme-popover').slideDown(200);
	    })
	    $('.theme-poptit .close').click(function(){
		$('.theme-popover-mask').hide();
		$('.theme-popover').slideUp(200);
	    })

    });
</script>