
@{
    ViewBag.Title = "Application";
}
<div class="panel">
<div class="row text-right"><a  href="/ProcessCenter/Induction">申请</a>丨<a href="#">修改</a>丨<a>删除</a>丨<a>送办</a>丨<a>待发</a>丨<a>已发</a>丨<a href="/ProcessCenter/index">返回</a></div>
<table cellspacing="0" class="table table-small-font table-bordered table-striped">
    <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th>送审状态</th>
            <th>申请时间</th>
            <th>申请人员</th>
            <th>姓名</th>
            <th>学历</th>
            <th>专业</th>
            <th>入职状态</th>
        </tr>
    </thead>
    <tbody class="collaborative"></tbody>
</table>
</div>