
@{
    ViewBag.Title = "DepositBackApply";
}

<div class="panel">
    <div class="row text-right"><a>送办</a>丨<a>查看流程</a>丨<a>暂存</a>丨<a href="/ProcessCenter/DepositBack">返回</a></div>
    <div class="row">&nbsp;</div>
    <div class="row text-center"><h3>二手房退交房保证金</h3></div>
    <div class="row">&nbsp;</div>
    <table class="table table-bordered staffTable table-small-font">
        <tr>
            <td>合同编号</td>
            <td colspan="2"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td>门店</td>
            <td colspan="2"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>项目</td>
            <td>房栋</td>
            <td>单元</td>
            <td>房号</td>
            <td colspan="2">卖方姓名</td>
        </tr>
        <tr>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td colspan="2"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td colspan="2">已收交房保证金</td>
            <td colspan="2">退交房保证金额</td>
            <td colspan="2">退款方式</td>
        </tr>
        <tr>
            <td colspan="2"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td colspan="2"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td colspan="2"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>开户名</td>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td>开户行</td>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td>账号</td>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td rowspan="2">附件</td>
            <td colspan="8">交房保证金收据正反面（反面卖方、店长签字）、交房确认书、卖方身份证复印件、银行卡复印件、账号确认书</td>
        </tr>
        <tr>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>店长</td>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>部门经理</td>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>黄燕銮</td>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>陈总</td>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>财务总监</td>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>财务经理</td>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>出纳</td>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
    </table>
</div>