
@{
    ViewBag.Title = "DepositSingleApply";
}

<link rel="stylesheet" href="~/Scripts/datetimepicker/bootstrap-datetimepicker.min.css">
<div class="panel">
    <div class="row text-right"><a>送办</a>丨<a>查看流程</a>丨<a>暂存</a>丨<a href="/ProcessCenter/DepositSingle">返回</a></div>
    <div class="row">&nbsp;</div>
    <div class="row text-center"><h3>二手房定金单</h3></div>
    <div class="row">&nbsp;</div>
    <table class="table table-bordered staffTable table-small-font">
        <tr>
            <td>单据编号</td>
            <td colspan="3"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td>门店</td>
            <td colspan="3"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>分行经理</td>
            <td colspan="3"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td>部门经理</td>
            <td colspan="3"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>项目</td>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td>栋</td>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td>单元</td>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td>房号</td>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>买方</td>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td>定金</td>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td>交定金时间</td>
            <td colspan="3">
            <div class="date form_datetime">
                    <input id="submitHouseDate" class="form-control" name="submitHouseDate" data-validate="required" readonly />
                    <span class="add-on"><i class="icon-remove"></i></span>
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>附件（定金收据）</td>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>备注</td>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>店长</td>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>部门经理</td>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>吴梦玲</td>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>叶美珍</td>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
    </table>
</div>
<script src="/Scripts/daterangepicker/daterangepicker.js"></script>
<script src="/Scripts/datepicker/bootstrap-datepicker.js"></script>
<script src="/Scripts/timepicker/bootstrap-timepicker.min.js"></script>
<script src="~/Scripts/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/Scripts/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('.form_datetime').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                // weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0
            });
        });

</script>