
@{
    ViewBag.Title = "ProcessCenter";
}

<div class="page-title">
    <div class="title-env">
        <div class="col-md-12"><h3 class="title">流程中心</h3></div>
    </div>
    <div class="breadcrumb-env">
        <div class="col-md-3 text-center">
            <button class="btn">
                刷新页面
            </button>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control input-dark" name="title" id="title" />
        </div>

        <button class="btn btn-link" type="submit">
            <i class="linecons-search"></i>
        </button>

    </div>

</div>
<div class="row panel">
    <div class="row">&nbsp;</div>
    <div class="row panel-heading">
        <div class="row"><div class="col-md-2 text-center bgColor"><span>公文管理</span></div></div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/PostManagement">发文管理</a></div>
            <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="#">发文登记薄</a> </div>
            <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="#">收文管理</a></div>
            <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="#">收文登记薄</a></div>
            <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="#">发文管理</a></div>
        </div>
        <div class="row">&nbsp;</div>
    </div>
    <div class="row panel-heading">
        <div class="row"><div class="col-md-2 text-center bgColor"><span>协同管理</span></div></div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="#">新增协同</a></div>
            <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="#">待发协同</a></div>
            <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="#">已发协同</a></div>
            <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="#">协同办公</a></div>
            <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="#">协同模板</a> </div>
        </div>
        <div class="row">&nbsp;</div>
    </div>
    <div class="row panel-heading">
        <div class="row"><div class="col-md-2 text-center bgColor"><span>ERP凭证</span></div></div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2 newfrom"><i class="fa fa-arrow-right "></i><a href="#">凭证刷单</a></div>
        </div>
        <div class="row">&nbsp;</div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row panel-heading">
        <div class="row"><div class="col-md-2 text-center bgColor"><span>一手房表单</span></div></div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/NewSubscription">一手房认购单</a></div>
            <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/NewHouseContract">一手房合同单（驻场方）</a></div>
            <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/NewSubscriptionFujian">一手房合同单（送客方）</a></div>
            <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/ProjectCommission">项目对应佣金点数</a></div>
        </div>
        <div class="row">&nbsp;</div>
    </div>
    <div class="row panel-heading">
        <div class="row"><div class="col-md-2 text-center bgColor"><span>二手房表单</span></div></div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/RentalContractSingle">租凭合同单</a></div>
            <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/RentalContractSingleNew">二手房合同单新</a></div>
            <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/ReturnOrderDeposit">二手房退定金单</a></div>
            <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/DepositSingle">二手房定金单</a></div>
            
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/SecondhandOrder">二手房转定单</a></div>
            <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/DepositBack">二手房退交房保证金</a></div>
        </div>
        <div class="row">&nbsp;</div>
    </div>
    <div class="row panel-heading">
        <div class="row"><div class="col-md-2 text-center bgColor"><span>财务审批</span></div></div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="#">每日成交信息表</a></div>
            <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="#">车费报销单</a></div>
            <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="#">领款单</a></div>
            <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="#">费用报销单</a></div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="#">借款申请单</a></div>
            <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="#">付款申请单</a></div>
        </div>
        <div class="row">&nbsp;</div>
    </div>
    <div class="row panel-heading">
        <div class="row"><div class="col-md-2 text-center bgColor"><span>按揭</span></div></div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="#">二手房业务流程单（按揭部）</a></div>
        </div>
        <div class="row">&nbsp;</div>
    </div>
    <div class="row panel-heading">
        <div class="row"><div class="col-md-2 text-center bgColor"><span>人事审批</span></div></div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="#">印刷品印刷申请</a></div>
            <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="#">物资采购普申请</a></div>
        </div>
        <div class="row">&nbsp;</div>
    </div>
    <div class="row panel-heading">
        <div class="row"><div class="col-md-2 text-center bgColor"><span>流程效率分析</span></div></div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="#">流程效率分析表</a></div>
            <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="#">工作效率分析表</a></div>
            <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="#">流程效率分析日志</a></div>
        </div>
        <div class="row">&nbsp;</div>
    </div>
    <div class="row panel-heading">
        <div class="row"><div class="col-md-2 text-center bgColor"><span>申请中心</span></div></div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/Application">入职申请</a></div>
            <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/Regular">转正申请</a></div>
            <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/Deployment">调岗申请</a></div>
            <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/PartTimeJob">兼职申请</a></div>
            <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/Resignation">离职申请</a></div>
        </div>
        <div class="row">&nbsp;</div>
    </div>
        <div class="row panel-heading">
            <div class="row"><div class="col-md-2 text-center bgColor"><span>报表中心</span></div></div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/SubscribeSingle">一手房认购单</a></div>
                <div class="col-md-4 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/ContractReport">一手房合同报表（送客方送审后）</a></div>
                <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/Changes">员工变动</a></div>
                <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/ClinchInformation">成交信息日报表</a></div>
            </div>
            <div class="row">
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/ExpensesReport">费用报销报表</a></div>
                <div class="col-md-4 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/OnSiteParty">一手房合同单（驻场方）</a></div>
                <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/Mortgage">二手房业务流程单（按揭部）</a></div>
                <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/ExpenseAccount">车费报销报表新</a></div>
            </div>
            <div class="row">
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/RentalReport">租凭合同报表</a></div>
                <div class="col-md-4 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/SecondHousingContractReport">二手房合同报表</a></div>
                <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/NewSecondHousingContractReport">二手房合同报表新</a></div>
                <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/SecondHousingOrderReport">二手房转订单报表</a></div>
            </div>
            <div class="row">
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/SecondHousingDepositReport">二手房定金报表</a></div>
                <div class="col-md-4 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/StaffEntryInduction">员工入职申请</a></div>
                <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/RegularWorker">转正申请报表</a></div>
                <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/PostApply">调岗申请报表</a></div>
                
            </div>
            <div class="row">
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/TurnoverRegistration">离职登记报表</a></div>
                <div class="col-md-4 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/LeaveApplication">请假单报表</a></div>
                <div class="col-md-3 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/Single">领款单报表</a></div>
                <div class="col-md-2 newfrom"><i class="fa fa-arrow-right"></i><a href="/ProcessCenter/FareReimbursement">车费报销单报表</a></div>
            </div>
            <div class="row">&nbsp;</div>
        </div>
    </div>
