
@{
    ViewBag.Title = "PostManagement";
}
<div class="panel">
    <div class="row text-right"><a href="/ProcessCenter/WritingPaper">拟稿</a>丨<a href="#">修改</a>丨<a href="#">删除</a>丨<a href="#">送办</a>丨<a href="#">待发</a>丨<a href="/ProcessCenter/index">返回</a></div>
<table cellspacing="0" class="table table-small-font table-bordered table-striped">
    <thead>
        <tr>
            <th data-priority="1" id="idfff8c822-col-1">
                <div class="cbr-replaced"><div class="cbr-input"><input type="checkbox" class="cbr cbr-done"></div><div class="cbr-state"><span></span></div></div>
            </th>
            <th data-priority="3" id="idfff8c822-col-2">文件提名</th>
            <th data-priority="1" id="idfff8c822-col-3">拟稿人</th>
            <th data-priority="3" id="idfff8c822-col-4">发文流水号</th>
            <th data-priority="3" id="idfff8c822-col-5">发文单位</th>
            <th data-priority="6" id="idfff8c822-col-6">拟稿日期</th>
            <th data-priority="3" id="idfff8c822-col-5">紧急程度</th>
            <th data-priority="6" id="idfff8c822-col-6">密集</th>
        </tr>
    </thead>
    <tbody>
      
    </tbody>
</table>
</div>
