
@{
    ViewBag.Title = "ProjectCommissionApply";
}
<div class="panel">
<div class="row text-right"><a>送办</a>丨<a>查看流程</a>丨<a>暂存</a>丨<a href="/ProcessCenter/ProjectCommission">返回</a></div>
<table class="table table-bordered staffTable table-small-font">
    <tr>
        <td>项目</td>
        <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        <td>佣金点数</td>
        <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        
    </tr>
</table>
    </div>