
@{
    ViewBag.Title = "RentalContractSingle";
}

<div class="panel">
    <div class="row text-right"><a href="/ProcessCenter/RentalContractSingleApply">申请</a>丨<a>修改</a>丨<a>删除</a>丨<a>送办</a>丨<a>待发</a>丨<a>已发</a>丨<a href="/ProcessCenter/index">返回</a></div>
    <table cellspacing="0" class="table table-small-font table-bordered table-striped">
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>编号</th>
                <th>分行</th>
                <th>项目名称</th>
                <th>序号</th>
                <th>签约时间</th>
            </tr>
        </thead>
        <tbody class="collaborative"></tbody>
    </table>
</div>

