
@{
    ViewBag.Title = "SecondhandOrderApply";
}

<link rel="stylesheet" href="~/Scripts/datetimepicker/bootstrap-datetimepicker.min.css">
<div class="panel">
    <div class="row text-right"><a>送办</a>丨<a>查看流程</a>丨<a>暂存</a>丨<a href="/ProcessCenter/SecondhandOrder">返回</a></div>
    <div class="row">&nbsp;</div>
    <div class="row text-center"><h3>二手房转定单</h3></div>
    <div class="row">&nbsp;</div>
    <table class="table table-bordered staffTable table-small-font">
        <tr>
            <td>合同编号</td>
            <td colspan="2"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td>门店</td>
            <td colspan="2"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>分行经理</td>
            <td colspan="2"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td>部门经理</td>
            <td colspan="2"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>项目</td>
            <td>房栋</td>
            <td>单元</td>
            <td>房号</td>
            <td>卖方</td>
        </tr>
        <tr>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td colspan="2"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>已收定金</td>
            <td>卖方佣金（在定金里扣除）</td>
            <td>交房保证金（在定金里扣除）</td>
            <td>转定金额</td>
            <td colspan="2">转定方式</td>
        </tr>
        <tr>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td colspan="2">
                <label class="radio-inline">
                    <input type="radio" value="现金" name="online">
                    现金
                </label>
                <label class="radio-inline">
                    <input type="radio" value="银行转账" name="posted">
                    银行转账
                </label>
            </td>
        </tr>
        <tr>
            <td>开户名</td>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td>开户行</td>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
            <td>账号</td>
            <td><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td rowspan="2">附件</td>
            <td colspan="8">居间合同、空白收据、定金收据正反面（反面卖方、店长签字）、账号确认书、业主身份证、银行卡复印件、查档资料（卖方佣金收据、交房保证金收据)、买/卖方佣金承诺书、公证委托书</td>
        </tr>
        <tr>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>店长</td>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>部门经理</td>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>黄燕銮</td>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>总经理</td>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>财务总监</td>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>财务经理</td>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>出纳</td>
            <td colspan="8"><input type="text" class="form-control input-dark" name="title" id="title" /></td>
        </tr>
    </table>
</div>