
@{
    ViewBag.Title = "SecondHousingOrderReport";
}

<div class="panel">
    <div class="row text-right"><a href="#" class="pdfOpens">Pdf打开</a>丨<a href="#" class="pdfOpens">Excel打开</a>丨<a>打印报表</a>丨<a href="/ProcessCenter/index">返回</a></div>
    <div class="row text-center"><h3>二手房转订单报表</h3></div>
    <div class="row">
        <table cellspacing="0" class="table table-small-font table-bordered table-striped">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>项目</th>
                    <th>房栋</th>
                    <th>单元</th>
                    <th>房号</th>
                    <th>已收定金</th>
                    <th>卖方佣金</th>
                    <th>交房保证金</th>
                    <th>转定金额</th>
                    <th>转定方式</th>
                    <th>开户名</th>
                    <th>开户行</th>
                    <th>卖方</th>
                    <th>门店</th>
                    <th>账号</th>
                    <th>系统送审标识</th>
                </tr>
            </thead>
            <tbody class="collaborative"></tbody>
        </table>
    </div>
</div>

<div class="pdfOpen">
    <div class="theme-poptit">
        <a href="javascript:;" title="关闭" class="close">×</a>
    </div>
    <div class="theme-popbod dform">
        <div class="row text-right">
            <a href="#">确定</a>
        </div>
        <div class="row">
            <div class="row">
                <h4>导出页码选择</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-0">
                <div class="cbr-replaced">
                    <div class="cbr-input">
                        <input type="checkbox" class="cbr cbr-done">
                    </div>
                    <div class="cbr-state"><span></span></div>
                </div>
            </div>
            <div class="col-md-2"><b>导出全部</b></div>
        </div>
        <div class="row">
            <div class="col-md-0">
                <div class="cbr-replaced">
                    <div class="cbr-input">
                        <input type="checkbox" class="cbr cbr-done">
                    </div>
                    <div class="cbr-state"><span></span></div>
                </div>
            </div>
            <div class="col-md-2"><b>导出范围</b></div>
            <div class="col-md-3"><input type="text" class="form-control input-dark" name="s"></div><div class="col-md-0">至</div><div class="col-md-3"><input type="text" class="form-control input-dark" name="s"></div>
        </div>
    </div>
</div>

<script src="~/Scripts/defeng/processCenter.js"></script>