
@{
    ViewBag.Title = "SecondHousingContractReport";
}

<div class="panel">
    <div class="row text-right"><a href="#" class="pdfOpens">Pdf打开</a>丨<a href="#" class="pdfOpens">Excel打开</a>丨<a>打印报表</a>丨<a href="/ProcessCenter/index">返回</a></div>
    <div class="row text-center"><h3>二手房合同报表</h3></div>
    <div class="row">
        <table cellspacing="0" class="table table-small-font table-bordered table-striped">
            <thead>
                <tr>
                    <th>合同编号</th>
                    <th>项目</th>
                    <th>房栋</th>
                    <th>单元</th>
                    <th>房号</th>
                    <th>客户姓名买方</th>
                    <th>联系方式买方</th>
                    <th>客户姓名卖方</th>
                    <th>联系方式卖方</th>
                    <th>签合同时间</th>
                    <th>合同总价</th>
                    <th>定金</th>
                    <th>交房保证金</th>
                    <th>计划佣金</th>
                    <th>实收佣金</th>
                    <th>是否代办过户</th>
                    <th>买方前50佣金</th>
                    <th>卖方前50佣金</th>
                    <th>买方后50佣金</th>
                    <th>卖方后50佣金</th>
                    <th>付款方式</th>
                    <th>首期款</th>
                    <th>贷款</th>
                    <th>产权现状</th>
                    <th>欠款银行</th>
                    <th>金额</th>
                    <th>赎楼方式</th>
                    <th>客户家庭唯一</th>
                    <th>房产证号</th>
                    <th>产权性质</th>
                    <th>买方身份证</th>
                    <th>卖方身份证</th>
                    <th>已收佣金</th>
                    <th>分行</th>
                    <th>系统送审标识</th>
                    <th>系统申请人ID</th>
                    <th>盘方和送客方或钥匙方</th>
                    <th>人员</th>
                    <th>角色</th>
                    <th>部门</th>
                    <th>合同总价</th>
                    <th>提成点</th>
                    <th>提成金额</th>
                    <th>考核部门</th>
                    <th>考核点数</th>
                    <th>考核</th>
                </tr>
            </thead>
            <tbody class="collaborative"></tbody>
        </table>
    </div>
</div>

<div class="pdfOpen">
    <div class="theme-poptit">
        <a href="javascript:;" title="关闭" class="close">×</a>
    </div>
    <div class="theme-popbod dform">
        <div class="row text-right">
            <a href="#">确定</a>
        </div>
        <div class="row">
            <div class="row">
                <h4>导出页码选择</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-0">
                <div class="cbr-replaced">
                    <div class="cbr-input">
                        <input type="checkbox" class="cbr cbr-done">
                    </div>
                    <div class="cbr-state"><span></span></div>
                </div>
            </div>
            <div class="col-md-2"><b>导出全部</b></div>
        </div>
        <div class="row">
            <div class="col-md-0">
                <div class="cbr-replaced">
                    <div class="cbr-input">
                        <input type="checkbox" class="cbr cbr-done">
                    </div>
                    <div class="cbr-state"><span></span></div>
                </div>
            </div>
            <div class="col-md-2"><b>导出范围</b></div>
            <div class="col-md-3"><input type="text" class="form-control input-dark" name="s"></div><div class="col-md-0">至</div><div class="col-md-3"><input type="text" class="form-control input-dark" name="s"></div>
        </div>
    </div>
</div>

<script src="~/Scripts/defeng/processCenter.js"></script>