a:link {
color:#FFFFFF;
text-decoration:none;
}
a:visited {
color:#ffffff;
text-decoration:none;
}
a:active {
color:#FFFFFF;
text-decoration:none;
}
.bg-color {
background:#ffffff;
}
.bg-size {
max-height:800px;
max-width:600px;
background:#ffffff;
margin:1px auto auto auto;
}
.bg-color1 {
background:#e2eaf5;
}
.form_size {
padding:2px 4px 8px 4px;
}
.img_size {
    width:5px;
    height:5px;
}
.border_font {
    border:solid #e4e4e4;
    border-width:1px 0px 1px 0px;
}
.border_font1 {
    border:solid #e4e4e4;
    border-width:0px 1px 0px 1px;
}

